.footer-container {
    padding: 3rem;
    background-color: var(--secondary-color);
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}